h1 {
    color: red;
    font-family: Arial;
    /* display: inline; */
}
p{
    text-align: center;
    font-family: "Coral Pixels", serif;
    background-color: rgb(255, 174, 0);
    font-size: 32px;
    display: inline;
    

}
.Project {
    
   
}

#Header {
    background-color: rgb(226, 240, 150);
}